# Week 5 Day 3: Data Wrangling with Web Scraping

## Wikifunctions

Dr. Brian Keegan in our INFO department also made a very helpful package through GitHub that allows you to ping the wikipedia API with alot of ease. here is the wikifunctions repository [https://github.com/brianckeegan/wikifunctions]

- download wikifunctions.py

our code will pull the functions and classes from this file to work with the API

In [19]:
#import wikifunctions

import wikifunctions as wf

In [20]:
# Get all page revisions

rev_df = wf.get_all_page_revisions("Buffalo")
rev_df.head()

,revid,parentid,user,anon,userid,timestamp,size,sha1,comment,page,date,diff,lag,age
0,240464,0,12.30.225.xxx,True,0,2001-12-15 21:46:10+00:00,2271,e655c8c7e20feb83d25017cec32d08eee713d130,*,Buffalo,2001-12-15,NaN,NaN,0.000000
1,240465,240464,The Epopt,NaN,30,2001-12-15 22:09:54+00:00,2761,27164baa6abb807c7f20e5dc1323c43503a79348,added a stub about buffalo,Buffalo,2001-12-15,490.0,1424.0,0.016481
2,240466,240465,The Epopt,NaN,30,2001-12-15 22:10:27+00:00,2762,32c20c60c410376c96d9b1da4570f477483d2d77,*,Buffalo,2001-12-15,1.0,33.0,0.016863
3,240467,240466,Paul Drye,NaN,6,2001-12-16 01:16:17+00:00,478,0409290a0ab940c21c2bd3d75963d1b1a7d71e31,"Slice out Buffalo, New York and move to [[Buff...",Buffalo,2001-12-16,-2284.0,11150.0,0.145914
4,240468,240467,The Epopt,NaN,30,2001-12-16 01:55:32+00:00,479,5703f32d66c0e61ca2391db4045514faffdef655,*,Buffalo,2001-12-16,1.0,2355.0,0.173171

In [21]:
# Get pageviews
pvs1 = wf.get_pageviews("Denver Broncos")
pvs1.head()

timestamp
2015-07-01    937
2015-07-02    932
2015-07-03    825
2015-07-04    824
2015-07-05    852
Name: views, dtype: int64

In [22]:
# Get current page content
page_content = wf.get_page_raw_content("Will Smith")
page_content.find('shortdescription nomobile noexcerpt noprint searchaux')

77

In [23]:
# Get interlanguage links

ill_df = wf.get_interlanguage_links("Will Smith")
ill_df

{'en': 'Will Smith',
 'af': 'Will Smith',
 'am': '·ãä·àç ·àµ·àö·ãù',
 'an': 'Will Smith',
 'ar': 'ŸàŸäŸÑ ÿ≥ŸÖŸäÿ´',
 'arz': 'ŸàŸäŸÑ ÿ≥ŸÖŸäÿ´',
 'ast': 'Will Smith',
 'az': 'Vill Smit',
 'azb': 'Ÿà€åŸÑ ÿßÿ≥ŸÖ€åÿ™',
 'be': '–£—ñ–ª –°–º—ñ—Ç',
 'bg': '–£–∏–ª –°–º–∏—Ç',
 'bh': '‡§µ‡§ø‡§≤ ‡§∏‡•ç‡§Æ‡§ø‡§•',
 'bn': '‡¶â‡¶á‡¶≤ ‡¶∏‡ßç‡¶Æ‡¶ø‡¶•',
 'br': 'Will Smith',
 'bs': 'Will Smith',
 'ca': 'Will Smith',
 'ceb': 'Will Smith',
 'ckb': 'Ÿà€å⁄µ ÿ≥ŸÖ€åÿ™',
 'co': 'Will Smith',
 'cs': 'Will Smith',
 'cv': '–£–∏–ª–ª –°–º–∏—Ç',
 'cy': 'Will Smith',
 'da': 'Will Smith',
 'de': 'Will Smith',
 'el': 'ŒìŒøœÖŒØŒª Œ£ŒºŒπŒ∏',
 'eo': 'Will Smith',
 'es': 'Will Smith',
 'et': 'Will Smith',
 'eu': 'Will Smith',
 'fa': 'Ÿà€åŸÑ ÿßÿ≥ŸÖ€åÿ™',
 'fi': 'Will Smith',
 'fo': 'Will Smith',
 'fr': 'Will Smith',
 'frp': 'Will Smith',
 'fy': 'Will Smith',
 'ga': 'Will Smith',
 'gd': 'Will Smith',
 'gl': 'Will Smith',
 'got': 'êçÖêåπêåªêåª êçÉêåºêåπêå∏',
 'gv': 'Will Smith',
 'ha': 'Will Smith',
 'he': "◊ï◊ô◊ú ◊°◊û◊ô◊™'",
 'hi': '‡§µ‡§ø‡§≤ ‡§∏‡•ç‡§Æ‡§ø‡§•',
 'hr': 'Will Smith',
 'ht': 'Will Smith',
 'hu': 'Will Smith',
 'hy': '’à÷Ç’´’¨ ’ç’¥’´’©',
 'hyw': '’à÷Ç’´’¨’¨ ’ç’¥’´’©',
 'id': 'Will Smith',
 'io': 'Will Smith',
 'it': 'Will Smith',
 'ja': '„Ç¶„Ç£„É´„Éª„Çπ„Éü„Çπ',
 'jv': 'Will Smith',
 'ka': '·É£·Éò·Éö ·É°·Éõ·Éò·Éó·Éò',
 'kk': '–£–∏–ª–ª –°–º–∏—Ç',
 'kn': '‡≤µ‡≤ø‡≤≤‡≥ç ‡≤∏‡≥ç‡≤Æ‡≤ø‡≤§‡≥ç',
 'ko': 'Ïúå Ïä§ÎØ∏Ïä§',
 'ks': 'ŸàŸêŸÑ ÿ≥ŸêŸÖŸêÿ™⁄æ',
 'ku': 'Will Smith',
 'ky': '–£–∏–ª–ª –°–º–∏—Ç',
 'la': 'Will Smith',
 'lb': 'Will Smith',
 'lmo': 'Will Smith',
 'lt': 'Will Smith',
 'lv': 'Vills Smits',
 'mg': 'Will Smith',
 'mk': '–í–∏–ª –°–º–∏—Ç',
 'ml': '‡¥µ‡¥ø‡µΩ ‡¥∏‡µç‡¥Æ‡¥ø‡¥§‡µç‡¥§‡µç',
 'mn': '–í–∏–ª–ª –°–º–∏—Ç',
 'mr': '‡§µ‡§ø‡§≤ ‡§∏‡•ç‡§Æ‡§ø‡§•',
 'ms': 'Will Smith',
 'my': '·Äù·ÄÆ·Äú·Ä∫ ·ÄÖ·Äô·ÄÖ·Ä∫',
 'ne': '‡§µ‡§ø‡§≤ ‡§∏‡•ç‡§Æ‡§ø‡§•',
 'nl': 'Will Smith',
 'nn': 'Will Smith',
 'nb': 'Will Smith',
 'nup': 'Larry Bird',
 'oc': 'Will Smith',
 'pa': '‡®µ‡®ø‡®≤ ‡®∏‡®Æ‡®ø‡®•',
 'pl': 'Will Smith',
 'pms': 'Will Smith',
 'pt': 'Will Smith',
 'qu': 'Will Smith',
 'ro': 'Will Smith',
 'ru': '–°–º–∏—Ç, –£–∏–ª–ª',
 'rw': 'Will Smith',
 'sah': '–£–∏–ª–ª –°–º–∏—Ç',
 'sc': 'Will Smith',
 'sh': 'Will Smith',
 'simple': 'Will Smith',
 'sk': 'Will Smith',
 'sl': 'Will Smith',
 'sq': 'Will Smith',
 'sr': '–í–∏–ª –°–º–∏—Ç',
 'srn': 'Will Smith',
 'sv': 'Will Smith',
 'sw': 'Will Smith',
 'ta': '‡Æµ‡Æø‡Æ≤‡Øç ‡Æö‡Æø‡ÆÆ‡Æø‡Æ§‡Øç',
 'te': '‡∞µ‡∞ø‡∞≤‡±ç ‡∞∏‡±ç‡∞Æ‡∞ø‡∞§‡±ç',
 'tg': '–£–∏–ª–ª –°–º–∏—Ç',
 'th': '‡∏ß‡∏¥‡∏•‡∏•‡πå ‡∏™‡∏°‡∏¥‡∏ò',
 'tr': 'Will Smith',
 'tt': '–£–∏–ª–ª –°–º–∏—Ç',
 'uk': '–í—ñ–ª–ª –°–º—ñ—Ç',
 'uz': 'Will Smith',
 'vi': 'Will Smith',
 'war': 'Will Smith',
 'wuu': 'Â®ÅÂ∞î¬∑Âè≤ÂØÜÊñØ',
 'xmf': '·É£·Éò·Éö ·É°·Éõ·Éò·Éó·Éò',
 'yo': 'Will Smith',
 'zh': 'Â®ÅÁàæ¬∑Âè≤ÂØÜÊñØ',
 'zh-yue': 'ÈüãÂè≤ÂØÜÂ§´'}

# save data sources

 as page revisions df to a csv file

In [24]:
rev_df.to_csv("class_data/page_revisions_buffalo.csv")

save the page views to a json

In [25]:
import json

In [26]:
pvsDict = pvs1 .to_dict()
pvsDict

{Timestamp('2015-07-01 00:00:00'): 937,
 Timestamp('2015-07-02 00:00:00'): 932,
 Timestamp('2015-07-03 00:00:00'): 825,
 Timestamp('2015-07-04 00:00:00'): 824,
 Timestamp('2015-07-05 00:00:00'): 852,
 Timestamp('2015-07-06 00:00:00'): 930,
 Timestamp('2015-07-07 00:00:00'): 907,
 Timestamp('2015-07-08 00:00:00'): 1037,
 Timestamp('2015-07-09 00:00:00'): 1027,
 Timestamp('2015-07-10 00:00:00'): 1095,
 Timestamp('2015-07-11 00:00:00'): 896,
 Timestamp('2015-07-12 00:00:00'): 912,
 Timestamp('2015-07-13 00:00:00'): 965,
 Timestamp('2015-07-14 00:00:00'): 1121,
 Timestamp('2015-07-15 00:00:00'): 1359,
 Timestamp('2015-07-16 00:00:00'): 1253,
 Timestamp('2015-07-17 00:00:00'): 1184,
 Timestamp('2015-07-18 00:00:00'): 1094,
 Timestamp('2015-07-19 00:00:00'): 1113,
 Timestamp('2015-07-20 00:00:00'): 1110,
 Timestamp('2015-07-21 00:00:00'): 1023,
 Timestamp('2015-07-22 00:00:00'): 1120,
 Timestamp('2015-07-23 00:00:00'): 1074,
 Timestamp('2015-07-24 00:00:00'): 1260,
 Timestamp('2015-07-25 00:00:00'): 997,
 Timestamp('2015-07-26 00:00:00'): 1106,
 Timestamp('2015-07-27 00:00:00'): 1224,
 Timestamp('2015-07-28 00:00:00'): 1240,
 Timestamp('2015-07-29 00:00:00'): 1210,
 Timestamp('2015-07-30 00:00:00'): 1263,
 Timestamp('2015-07-31 00:00:00'): 1509,
 Timestamp('2015-08-01 00:00:00'): 1279,
 Timestamp('2015-08-02 00:00:00'): 1258,
 Timestamp('2015-08-03 00:00:00'): 1285,
 Timestamp('2015-08-04 00:00:00'): 1508,
 Timestamp('2015-08-05 00:00:00'): 1408,
 Timestamp('2015-08-06 00:00:00'): 1506,
 Timestamp('2015-08-07 00:00:00'): 1450,
 Timestamp('2015-08-08 00:00:00'): 1343,
 Timestamp('2015-08-09 00:00:00'): 1760,
 Timestamp('2015-08-10 00:00:00'): 1809,
 Timestamp('2015-08-11 00:00:00'): 1566,
 Timestamp('2015-08-12 00:00:00'): 1680,
 Timestamp('2015-08-13 00:00:00'): 1691,
 Timestamp('2015-08-14 00:00:00'): 2464,
 Timestamp('2015-08-15 00:00:00'): 4190,
 Timestamp('2015-08-16 00:00:00'): 2172,
 Timestamp('2015-08-17 00:00:00'): 2047,
 Timestamp('2015-08-18 00:00:00'): 1847,
 Timestamp('2015-08-19 00:00:00'): 1533,
 Timestamp('2015-08-20 00:00:00'): 1745,
 Timestamp('2015-08-21 00:00:00'): 1912,
 Timestamp('2015-08-22 00:00:00'): 1834,
 Timestamp('2015-08-23 00:00:00'): 3193,
 Timestamp('2015-08-24 00:00:00'): 2000,
 Timestamp('2015-08-25 00:00:00'): 1884,
 Timestamp('2015-08-26 00:00:00'): 2115,
 Timestamp('2015-08-27 00:00:00'): 1892,
 Timestamp('2015-08-28 00:00:00'): 1813,
 Timestamp('2015-08-29 00:00:00'): 1868,
 Timestamp('2015-08-30 00:00:00'): 3352,
 Timestamp('2015-08-31 00:00:00'): 2625,
 Timestamp('2015-09-01 00:00:00'): 2027,
 Timestamp('2015-09-02 00:00:00'): 2193,
 Timestamp('2015-09-03 00:00:00'): 2141,
 Timestamp('2015-09-04 00:00:00'): 3037,
 Timestamp('2015-09-05 00:00:00'): 2312,
 Timestamp('2015-09-06 00:00:00'): 2829,
 Timestamp('2015-09-07 00:00:00'): 2567,
 Timestamp('2015-09-08 00:00:00'): 2724,
 Timestamp('2015-09-09 00:00:00'): 2597,
 Timestamp('2015-09-10 00:00:00'): 2633,
 Timestamp('2015-09-11 00:00:00'): 3363,
 Timestamp('2015-09-12 00:00:00'): 2255,
 Timestamp('2015-09-13 00:00:00'): 10825,
 Timestamp('2015-09-14 00:00:00'): 5368,
 Timestamp('2015-09-15 00:00:00'): 3349,
 Timestamp('2015-09-16 00:00:00'): 2470,
 Timestamp('2015-09-17 00:00:00'): 3346,
 Timestamp('2015-09-18 00:00:00'): 13727,
 Timestamp('2015-09-19 00:00:00'): 2859,
 Timestamp('2015-09-20 00:00:00'): 3743,
 Timestamp('2015-09-21 00:00:00'): 3437,
 Timestamp('2015-09-22 00:00:00'): 2944,
 Timestamp('2015-09-23 00:00:00'): 1959,
 Timestamp('2015-09-24 00:00:00'): 1875,
 Timestamp('2015-09-25 00:00:00'): 2393,
 Timestamp('2015-09-26 00:00:00'): 1637,
 Timestamp('2015-09-27 00:00:00'): 3928,
 Timestamp('2015-09-28 00:00:00'): 9191,
 Timestamp('2015-09-29 00:00:00'): 2998,
 Timestamp('2015-09-30 00:00:00'): 2066,
 Timestamp('2015-10-01 00:00:00'): 1927,
 Timestamp('2015-10-02 00:00:00'): 2408,
 Timestamp('2015-10-03 00:00:00'): 2003,
 Timestamp('2015-10-04 00:00:00'): 5603,
 Timestamp('2015-10-05 00:00:00'): 4337,
 Timestamp('2015-10-06 00:00:00'): 3169,
 Timestamp('2015-10-07 00:00:00'): 2403,
 Timestamp('2015-10-08 00:00:00'): 2305,
 Timestamp('2015-10-09 00:00:00'): 2585,
 Timestamp('2015-10-10 00:00:00'): 1851,
 Timestamp('2015-10-11 00:00:00'): 4333,
 Timestamp('2015-10-12 00:00:00'): 4157,
 Timestamp('2015-10-13 00:00:00'): 3044,
 Timestamp('2015-10-14 00:00:00'): 2346,
 Timestamp('2015-10-15 00:00:00'): 2325,
 Timestamp('2015-10-16 00:00:00'): 2684,
 Timestamp('2015-10-17 00:00:00'): 1845,
 Timestamp('2015-10-18 00:00:00'): 5262,
 Timestamp('2015-10-19 00:00:00'): 4113,
 Timestamp('2015-10-20 00:00:00'): 2922,
 Timestamp('2015-10-21 00:00:00'): 2299,
 Timestamp('2015-10-22 00:00:00'): 2531,
 Timestamp('2015-10-23 00:00:00'): 2701,
 Timestamp('2015-10-24 00:00:00'): 2178,
 Timestamp('2015-10-25 00:00:00'): 3552,
 Timestamp('2015-10-26 00:00:00'): 3496,
 Timestamp('2015-10-27 00:00:00'): 2810,
 Timestamp('2015-10-28 00:00:00'): 2672,
 Timestamp('2015-10-29 00:00:00'): 2532,
 Timestamp('2015-10-30 00:00:00'): 3015,
 Timestamp('2015-10-31 00:00:00'): 2490,
 Timestamp('2015-11-01 00:00:00'): 4019,
 Timestamp('2015-11-02 00:00:00'): 20722,
 Timestamp('2015-11-03 00:00:00'): 6839,
 Timestamp('2015-11-04 00:00:00'): 4339,
 Timestamp('2015-11-05 00:00:00'): 3283,
 Timestamp('2015-11-06 00:00:00'): 3477,
 Timestamp('2015-11-07 00:00:00'): 2555,
 Timestamp('2015-11-08 00:00:00'): 5438,
 Timestamp('2015-11-09 00:00:00'): 4943,
 Timestamp('2015-11-10 00:00:00'): 3991,
 Timestamp('2015-11-11 00:00:00'): 2308,
 Timestamp('2015-11-12 00:00:00'): 2263,
 Timestamp('2015-11-13 00:00:00'): 2425,
 Timestamp('2015-11-14 00:00:00'): 1887,
 Timestamp('2015-11-15 00:00:00'): 3918,
 Timestamp('2015-11-16 00:00:00'): 5260,
 Timestamp('2015-11-17 00:00:00'): 3307,
 Timestamp('2015-11-18 00:00:00'): 2371,
 Timestamp('2015-11-19 00:00:00'): 2260,
 Timestamp('2015-11-20 00:00:00'): 2783,
 Timestamp('2015-11-21 00:00:00'): 2176,
 Timestamp('2015-11-22 00:00:00'): 5190,
 Timestamp('2015-11-23 00:00:00'): 3862,
 Timestamp('2015-11-24 00:00:00'): 2822,
 Timestamp('2015-11-25 00:00:00'): 2856,
 Timestamp('2015-11-26 00:00:00'): 3383,
 Timestamp('2015-11-27 00:00:00'): 4863,
 Timestamp('2015-11-28 00:00:00'): 2261,
 Timestamp('2015-11-29 00:00:00'): 3792,
 Timestamp('2015-11-30 00:00:00'): 16339,
 Timestamp('2015-12-01 00:00:00'): 4915,
 Timestamp('2015-12-02 00:00:00'): 3441,
 Timestamp('2015-12-03 00:00:00'): 2873,
 Timestamp('2015-12-04 00:00:00'): 2773,
 Timestamp('2015-12-05 00:00:00'): 2024,
 Timestamp('2015-12-06 00:00:00'): 4313,
 Timestamp('2015-12-07 00:00:00'): 4606,
 Timestamp('2015-12-08 00:00:00'): 3340,
 Timestamp('2015-12-09 00:00:00'): 2648,
 Timestamp('2015-12-10 00:00:00'): 2514,
 Timestamp('2015-12-11 00:00:00'): 2417,
 Timestamp('2015-12-12 00:00:00'): 2175,
 Timestamp('2015-12-13 00:00:00'): 5276,
 Timestamp('2015-12-14 00:00:00'): 4258,
 Timestamp('2015-12-15 00:00:00'): 2587,
 Timestamp('2015-12-16 00:00:00'): 1972,
 Timestamp('2015-12-17 00:00:00'): 1851,
 Timestamp('2015-12-18 00:00:00'): 1887,
 Timestamp('2015-12-19 00:00:00'): 1505,
 Timestamp('2015-12-20 00:00:00'): 4881,
 Timestamp('2015-12-21 00:00:00'): 4156,
 Timestamp('2015-12-22 00:00:00'): 2458,
 Timestamp('2015-12-23 00:00:00'): 1918,
 Timestamp('2015-12-24 00:00:00'): 1952,
 Timestamp('2015-12-25 00:00:00'): 2017,
 Timestamp('2015-12-26 00:00:00'): 1611,
 Timestamp('2015-12-27 00:00:00'): 3370,
 Timestamp('2015-12-28 00:00:00'): 3533,
 Timestamp('2015-12-29 00:00:00'): 10947,
 Timestamp('2015-12-30 00:00:00'): 3160,
 Timestamp('2015-12-31 00:00:00'): 2419,
 Timestamp('2016-01-01 00:00:00'): 2732,
 Timestamp('2016-01-02 00:00:00'): 3091,
 Timestamp('2016-01-03 00:00:00'): 5530,
 Timestamp('2016-01-04 00:00:00'): 11096,
 Timestamp('2016-01-05 00:00:00'): 4484,
 Timestamp('2016-01-06 00:00:00'): 3673,
 Timestamp('2016-01-07 00:00:00'): 3368,
 Timestamp('2016-01-08 00:00:00'): 3405,
 Timestamp('2016-01-09 00:00:00'): 4119,
 Timestamp('2016-01-10 00:00:00'): 7354,
 Timestamp('2016-01-11 00:00:00'): 5032,
 Timestamp('2016-01-12 00:00:00'): 3991,
 Timestamp('2016-01-13 00:00:00'): 4362,
 Timestamp('2016-01-14 00:00:00'): 3569,
 Timestamp('2016-01-15 00:00:00'): 4078,
 Timestamp('2016-01-16 00:00:00'): 4393,
 Timestamp('2016-01-17 00:00:00'): 20608,
 Timestamp('2016-01-18 00:00:00'): 22440,
 Timestamp('2016-01-19 00:00:00'): 7315,
 Timestamp('2016-01-20 00:00:00'): 6066,
 Timestamp('2016-01-21 00:00:00'): 5441,
 Timestamp('2016-01-22 00:00:00'): 5831,
 Timestamp('2016-01-23 00:00:00'): 5469,
 Timestamp('2016-01-24 00:00:00'): 78692,
 Timestamp('2016-01-25 00:00:00'): 102597,
 Timestamp('2016-01-26 00:00:00'): 30811,
 Timestamp('2016-01-27 00:00:00'): 20707,
 Timestamp('2016-01-28 00:00:00'): 14821,
 Timestamp('2016-01-29 00:00:00'): 13327,
 Timestamp('2016-01-30 00:00:00'): 11494,
 Timestamp('2016-01-31 00:00:00'): 12532,
 Timestamp('2016-02-01 00:00:00'): 14427,
 Timestamp('2016-02-02 00:00:00'): 14825,
 Timestamp('2016-02-03 00:00:00'): 16357,
 Timestamp('2016-02-04 00:00:00'): 17290,
 Timestamp('2016-02-05 00:00:00'): 23269,
 Timestamp('2016-02-06 00:00:00'): 24171,
 Timestamp('2016-02-07 00:00:00'): 99215,
 Timestamp('2016-02-08 00:00:00'): 365937,
 Timestamp('2016-02-09 00:00:00'): 48558,
 Timestamp('2016-02-10 00:00:00'): 24217,
 Timestamp('2016-02-11 00:00:00'): 14272,
 Timestamp('2016-02-12 00:00:00'): 10428,
 Timestamp('2016-02-13 00:00:00'): 8215,
 Timestamp('2016-02-14 00:00:00'): 7636,
 Timestamp('2016-02-15 00:00:00'): 6140,
 Timestamp('2016-02-16 00:00:00'): 5454,
 Timestamp('2016-02-17 00:00:00'): 5151,
 Timestamp('2016-02-18 00:00:00'): 3594,
 Timestamp('2016-02-19 00:00:00'): 3069,
 Timestamp('2016-02-20 00:00:00'): 2634,
 Timestamp('2016-02-21 00:00:00'): 2814,
 Timestamp('2016-02-22 00:00:00'): 2768,
 Timestamp('2016-02-23 00:00:00'): 2734,
 Timestamp('2016-02-24 00:00:00'): 2636,
 Timestamp('2016-02-25 00:00:00'): 2360,
 Timestamp('2016-02-26 00:00:00'): 2079,
 Timestamp('2016-02-27 00:00:00'): 2027,
 Timestamp('2016-02-28 00:00:00'): 2306,
 Timestamp('2016-02-29 00:00:00'): 2026,
 Timestamp('2016-03-01 00:00:00'): 2188,
 Timestamp('2016-03-02 00:00:00'): 2017,
 Timestamp('2016-03-03 00:00:00'): 1976,
 Timestamp('2016-03-04 00:00:00'): 1773,
 Timestamp('2016-03-05 00:00:00'): 1700,
 Timestamp('2016-03-06 00:00:00'): 3248,
 Timestamp('2016-03-07 00:00:00'): 5358,
 Timestamp('2016-03-08 00:00:00'): 4070,
 Timestamp('2016-03-09 00:00:00'): 5103,
 Timestamp('2016-03-10 00:00:00'): 6138,
 Timestamp('2016-03-11 00:00:00'): 5196,
 Timestamp('2016-03-12 00:00:00'): 3510,
 Timestamp('2016-03-13 00:00:00'): 2768,
 Timestamp('2016-03-14 00:00:00'): 2684,
 Timestamp('2016-03-15 00:00:00'): 2847,
 Timestamp('2016-03-16 00:00:00'): 2468,
 Timestamp('2016-03-17 00:00:00'): 2382,
 Timestamp('2016-03-18 00:00:00'): 2671,
 Timestamp('2016-03-19 00:00:00'): 2056,
 Timestamp('2016-03-20 00:00:00'): 1925,
 Timestamp('2016-03-21 00:00:00'): 2182,
 Timestamp('2016-03-22 00:00:00'): 2112,
 Timestamp('2016-03-23 00:00:00'): 1971,
 Timestamp('2016-03-24 00:00:00'): 2063,
 Timestamp('2016-03-25 00:00:00'): 1944,
 Timestamp('2016-03-26 00:00:00'): 1723,
 Timestamp('2016-03-27 00:00:00'): 1666,
 Timestamp('2016-03-28 00:00:00'): 1837,
 Timestamp('2016-03-29 00:00:00'): 1947,
 Timestamp('2016-03-30 00:00:00'): 1888,
 Timestamp('2016-03-31 00:00:00'): 1926,
 Timestamp('2016-04-01 00:00:00'): 1835,
 Timestamp('2016-04-02 00:00:00'): 1835,
 Timestamp('2016-04-03 00:00:00'): 2082,
 Timestamp('2016-04-04 00:00:00'): 1914,
 Timestamp('2016-04-05 00:00:00'): 1819,
 Timestamp('2016-04-06 00:00:00'): 1746,
 Timestamp('2016-04-07 00:00:00'): 1846,
 Timestamp('2016-04-08 00:00:00'): 1801,
 Timestamp('2016-04-09 00:00:00'): 1613,
 Timestamp('2016-04-10 00:00:00'): 1808,
 Timestamp('2016-04-11 00:00:00'): 1843,
 Timestamp('2016-04-12 00:00:00'): 1702,
 Timestamp('2016-04-13 00:00:00'): 1516,
 Timestamp('2016-04-14 00:00:00'): 1766,
 Timestamp('2016-04-15 00:00:00'): 2329,
 Timestamp('2016-04-16 00:00:00'): 1525,
 Timestamp('2016-04-17 00:00:00'): 1544,
 Timestamp('2016-04-18 00:00:00'): 1950,
 Timestamp('2016-04-19 00:00:00'): 1654,
 Timestamp('2016-04-20 00:00:00'): 1753,
 Timestamp('2016-04-21 00:00:00'): 1645,
 Timestamp('2016-04-22 00:00:00'): 1782,
 Timestamp('2016-04-23 00:00:00'): 1477,
 Timestamp('2016-04-24 00:00:00'): 1440,
 Timestamp('2016-04-25 00:00:00'): 1892,
 Timestamp('2016-04-26 00:00:00'): 1856,
 Timestamp('2016-04-27 00:00:00'): 1786,
 Timestamp('2016-04-28 00:00:00'): 2129,
 Timestamp('2016-04-29 00:00:00'): 5380,
 Timestamp('2016-04-30 00:00:00'): 3336,
 Timestamp('2016-05-01 00:00:00'): 2748,
 Timestamp('2016-05-02 00:00:00'): 2582,
 Timestamp('2016-05-03 00:00:00'): 2412,
 Timestamp('2016-05-04 00:00:00'): 1958,
 Timestamp('2016-05-05 00:00:00'): 1954,
 Timestamp('2016-05-06 00:00:00'): 1810,
 Timestamp('2016-05-07 00:00:00'): 1661,
 Timestamp('2016-05-08 00:00:00'): 1666,
 Timestamp('2016-05-09 00:00:00'): 1667,
 Timestamp('2016-05-10 00:00:00'): 1732,
 Timestamp('2016-05-11 00:00:00'): 1626,
 Timestamp('2016-05-12 00:00:00'): 1789,
 Timestamp('2016-05-13 00:00:00'): 2859,
 Timestamp('2016-05-14 00:00:00'): 1447,
 Timestamp('2016-05-15 00:00:00'): 1795,
 Timestamp('2016-05-16 00:00:00'): 1795,
 Timestamp('2016-05-17 00:00:00'): 1893,
 Timestamp('2016-05-18 00:00:00'): 1824,
 Timestamp('2016-05-19 00:00:00'): 1636,
 Timestamp('2016-05-20 00:00:00'): 1606,
 Timestamp('2016-05-21 00:00:00'): 1399,
 Timestamp('2016-05-22 00:00:00'): 1468,
 Timestamp('2016-05-23 00:00:00'): 1568,
 Timestamp('2016-05-24 00:00:00'): 1664,
 Timestamp('2016-05-25 00:00:00'): 1540,
 Timestamp('2016-05-26 00:00:00'): 1381,
 Timestamp('2016-05-27 00:00:00'): 1344,
 Timestamp('2016-05-28 00:00:00'): 1207,
 Timestamp('2016-05-29 00:00:00'): 1332,
 Timestamp('2016-05-30 00:00:00'): 1543,
 Timestamp('2016-05-31 00:00:00'): 1498,
 Timestamp('2016-06-01 00:00:00'): 1648,
 Timestamp('2016-06-02 00:00:00'): 1447,
 Timestamp('2016-06-03 00:00:00'): 1464,
 Timestamp('2016-06-04 00:00:00'): 1355,
 Timestamp('2016-06-05 00:00:00'): 1397,
 Timestamp('2016-06-06 00:00:00'): 1745,
 Timestamp('2016-06-07 00:00:00'): 2034,
 Timestamp('2016-06-08 00:00:00'): 1524,
 Timestamp('2016-06-09 00:00:00'): 1615,
 Timestamp('2016-06-10 00:00:00'): 1216,
 Timestamp('2016-06-11 00:00:00'): 1145,
 Timestamp('2016-06-12 00:00:00'): 1189,
 Timestamp('2016-06-13 00:00:00'): 1996,
 Timestamp('2016-06-14 00:00:00'): 1593,
 Timestamp('2016-06-15 00:00:00'): 1492,
 Timestamp('2016-06-16 00:00:00'): 1504,
 Timestamp('2016-06-17 00:00:00'): 1779,
 Timestamp('2016-06-18 00:00:00'): 1224,
 Timestamp('2016-06-19 00:00:00'): 1306,
 Timestamp('2016-06-20 00:00:00'): 1899,
 Timestamp('2016-06-21 00:00:00'): 1433,
 Timestamp('2016-06-22 00:00:00'): 1506,
 Timestamp('2016-06-23 00:00:00'): 1578,
 Timestamp('2016-06-24 00:00:00'): 1339,
 Timestamp('2016-06-25 00:00:00'): 1245,
 Timestamp('2016-06-26 00:00:00'): 1282,
 Timestamp('2016-06-27 00:00:00'): 1348,
 Timestamp('2016-06-28 00:00:00'): 1408,
 Timestamp('2016-06-29 00:00:00'): 1596,
 Timestamp('2016-06-30 00:00:00'): 1373,
 Timestamp('2016-07-01 00:00:00'): 1358,
 Timestamp('2016-07-02 00:00:00'): 1123,
 Timestamp('2016-07-03 00:00:00'): 1278,
 Timestamp('2016-07-04 00:00:00'): 1343,
 Timestamp('2016-07-05 00:00:00'): 1291,
 Timestamp('2016-07-06 00:00:00'): 1324,
 Timestamp('2016-07-07 00:00:00'): 1471,
 Timestamp('2016-07-08 00:00:00'): 1256,
 Timestamp('2016-07-09 00:00:00'): 1136,
 Timestamp('2016-07-10 00:00:00'): 1218,
 Timestamp('2016-07-11 00:00:00'): 1119,
 Timestamp('2016-07-12 00:00:00'): 1124,
 Timestamp('2016-07-13 00:00:00'): 1354,
 Timestamp('2016-07-14 00:00:00'): 1607,
 Timestamp('2016-07-15 00:00:00'): 1928,
 Timestamp('2016-07-16 00:00:00'): 1558,
 Timestamp('2016-07-17 00:00:00'): 1447,
 Timestamp('2016-07-18 00:00:00'): 1447,
 Timestamp('2016-07-19 00:00:00'): 1578,
 Timestamp('2016-07-20 00:00:00'): 1358,
 Timestamp('2016-07-21 00:00:00'): 1466,
 Timestamp('2016-07-22 00:00:00'): 1616,
 Timestamp('2016-07-23 00:00:00'): 1313,
 Timestamp('2016-07-24 00:00:00'): 1281,
 Timestamp('2016-07-25 00:00:00'): 1468,
 Timestamp('2016-07-26 00:00:00'): 1431,
 Timestamp('2016-07-27 00:00:00'): 1545,
 Timestamp('2016-07-28 00:00:00'): 1854,
 Timestamp('2016-07-29 00:00:00'): 1806,
 Timestamp('2016-07-30 00:00:00'): 1636,
 Timestamp('2016-07-31 00:00:00'): 1540,
 Timestamp('2016-08-01 00:00:00'): 1900,
 Timestamp('2016-08-02 00:00:00'): 1865,
 Timestamp('2016-08-03 00:00:00'): 1777,
 Timestamp('2016-08-04 00:00:00'): 1659,
 Timestamp('2016-08-05 00:00:00'): 1729,
 Timestamp('2016-08-06 00:00:00'): 1612,
 Timestamp('2016-08-07 00:00:00'): 1892,
 Timestamp('2016-08-08 00:00:00'): 1989,
 Timestamp('2016-08-09 00:00:00'): 2003,
 Timestamp('2016-08-10 00:00:00'): 1704,
 Timestamp('2016-08-11 00:00:00'): 1932,
 Timestamp('2016-08-12 00:00:00'): 3202,
 Timestamp('2016-08-13 00:00:00'): 1775,
 Timestamp('2016-08-14 00:00:00'): 1960,
 Timestamp('2016-08-15 00:00:00'): 2112,
 Timestamp('2016-08-16 00:00:00'): 1925,
 Timestamp('2016-08-17 00:00:00'): 2116,
 Timestamp('2016-08-18 00:00:00'): 1890,
 Timestamp('2016-08-19 00:00:00'): 1927,
 Timestamp('2016-08-20 00:00:00'): 1919,
 Timestamp('2016-08-21 00:00:00'): 3430,
 Timestamp('2016-08-22 00:00:00'): 2459,
 Timestamp('2016-08-23 00:00:00'): 2344,
 Timestamp('2016-08-24 00:00:00'): 2206,
 Timestamp('2016-08-25 00:00:00'): 2482,
 Timestamp('2016-08-26 00:00:00'): 2579,
 Timestamp('2016-08-27 00:00:00'): 2484,
 Timestamp('2016-08-28 00:00:00'): 4896,
 Timestamp('2016-08-29 00:00:00'): 4463,
 Timestamp('2016-08-30 00:00:00'): 3477,
 Timestamp('2016-08-31 00:00:00'): 2624,
 Timestamp('2016-09-01 00:00:00'): 2498,
 Timestamp('2016-09-02 00:00:00'): 3534,
 Timestamp('2016-09-03 00:00:00'): 3583,
 Timestamp('2016-09-04 00:00:00'): 4064,
 Timestamp('2016-09-05 00:00:00'): 3639,
 Timestamp('2016-09-06 00:00:00'): 3520,
 Timestamp('2016-09-07 00:00:00'): 3703,
 Timestamp('2016-09-08 00:00:00'): 7693,
 Timestamp('2016-09-09 00:00:00'): 23127,
 Timestamp('2016-09-10 00:00:00'): 4219,
 Timestamp('2016-09-11 00:00:00'): 5284,
 Timestamp('2016-09-12 00:00:00'): 4410,
 Timestamp('2016-09-13 00:00:00'): 3845,
 Timestamp('2016-09-14 00:00:00'): 9869,
 Timestamp('2016-09-15 00:00:00'): 3011,
 Timestamp('2016-09-16 00:00:00'): 3739,
 Timestamp('2016-09-17 00:00:00'): 2272,
 Timestamp('2016-09-18 00:00:00'): 8254,
 Timestamp('2016-09-19 00:00:00'): 5432,
 Timestamp('2016-09-20 00:00:00'): 4433,
 Timestamp('2016-09-21 00:00:00'): 2619,
 Timestamp('2016-09-22 00:00:00'): 2791,
 Timestamp('2016-09-23 00:00:00'): 3684,
 Timestamp('2016-09-24 00:00:00'): 2170,
 Timestamp('2016-09-25 00:00:00'): 5859,
 Timestamp('2016-09-26 00:00:00'): 5242,
 Timestamp('2016-09-27 00:00:00'): 2871,
 Timestamp('2016-09-28 00:00:00'): 2569,
 Timestamp('2016-09-29 00:00:00'): 2500,
 Timestamp('2016-09-30 00:00:00'): 2685,
 Timestamp('2016-10-01 00:00:00'): 2113,
 Timestamp('2016-10-02 00:00:00'): 5569,
 Timestamp('2016-10-03 00:00:00'): 5066,
 Timestamp('2016-10-04 00:00:00'): 3466,
 Timestamp('2016-10-05 00:00:00'): 2627,
 Timestamp('2016-10-06 00:00:00'): 2529,
 Timestamp('2016-10-07 00:00:00'): 2543,
 Timestamp('2016-10-08 00:00:00'): 2134,
 Timestamp('2016-10-09 00:00:00'): 5761,
 Timestamp('2016-10-10 00:00:00'): 3888,
 Timestamp('2016-10-11 00:00:00'): 2889,
 Timestamp('2016-10-12 00:00:00'): 2434,
 Timestamp('2016-10-13 00:00:00'): 2972,
 Timestamp('2016-10-14 00:00:00'): 8494,
 Timestamp('2016-10-15 00:00:00'): 2227,
 Timestamp('2016-10-16 00:00:00'): 3627,
 Timestamp('2016-10-17 00:00:00'): 3791,
 Timestamp('2016-10-18 00:00:00'): 3159,
 Timestamp('2016-10-19 00:00:00'): 2822,
 Timestamp('2016-10-20 00:00:00'): 2398,
 Timestamp('2016-10-21 00:00:00'): 2566,
 Timestamp('2016-10-22 00:00:00'): 1816,
 Timestamp('2016-10-23 00:00:00'): 2950,
 Timestamp('2016-10-24 00:00:00'): 3505,
 Timestamp('2016-10-25 00:00:00'): 9397,
 Timestamp('2016-10-26 00:00:00'): 2669,
 Timestamp('2016-10-27 00:00:00'): 2503,
 Timestamp('2016-10-28 00:00:00'): 2299,
 Timestamp('2016-10-29 00:00:00'): 1837,

In [27]:
# with open('class_data/pageViews_denverBroncos.json', 'wb') as jsonFile:
#     json.dump(pvs1, jsonFile)

open_file = open("class_data/pageViews_denverBroncos.json", "w")
json.dump(pvsDict, open_file)

open_file.close()

TypeError: keys must be str, int, float, bool or None, not Timestamp

In [ ]:
pvs1.to_json('pageViews_denverBroncos_copy.json')

save interlanguage links as a pickle

In [ ]:
import pickle

In [ ]:
open_file = open('Ills_WillSmith.pkl', 'wb')
pickle.dump(ill_df, open_file)

In [31]:
# Most straight-forward way to import a library in Python
import requests

# BeautifulSoup is a module inside the "bs4" library, we only import the BeautifulSoup module
from bs4 import BeautifulSoup

# We import pandas but give the library a shortcut alias "pd" since we will call its functions so much
import pandas as pd

#### Static Web Pages

### Reading an HTML table into Python

[The Numbers](http://www.the-numbers.com) is a popular source of data about movies' box office revenue numbers. Their daily domestic charts are HTML tables with the top-grossing movies for each day of the year, going back for several years. This [table](https://www.the-numbers.com/box-office-chart/daily/2018/12/25) for Christmas day in 2018 has coluns for the current week's ranking, previous week's ranking, name of movie, distributor, gross, change over the previous week, number of theaters, revenue per theater, total gross, and number of days since release. This looks like a fairly straightforward table that could be read directly into data frame-like structure.

Using the Inspect tool, we can see the table exists as a `<table border="0" ... align="CENTER">` element with child tags like `<tbody>` and `<tr>` (table row). Each `<tr>` has `<td>` which defines each of the cells and their content. For more on how HTML defines tables, check out [this tutoral](https://www.w3schools.com/html/html_tables.asp).

Using `requests` and `BeautifulSoup` we would get this webpage's HTML, turn it into soup, and then find the table (`<table>`) or the table rows (`<tr>`) and pull out their content.

In [32]:
# Make the request

#this is just asking for information stuff from the website -- it can kind of be whatever

user_agent = {'user-agent':'info-2201/0.0 Web Data Science, laurie.jones@colorado.edu'}

xmas_bo_raw = requests.get( 'https://www.the-numbers.com/box-office-chart/daily/2018/12/25', headers = user_agent).text

In [33]:
# Turn into soup, specify the HTML parser

xmas_bo_soup = BeautifulSoup(xmas_bo_raw, 'html.parser')

In [ ]:
# Use .find_all to retrieve all the tables in the page

It turns out there are two tables on the page, the first is a baby table consisting of the "Previous Chart", "Chart Index", and "Next Chart" at the top. We want the second table with all the data: `xmas_bo_tables[1]` returns the second chart (remember that Python is 0-indexed, so the first chart is at `xmas_bo_tables[0]`). With this table identified, we can do a second `find_all` to get the table rows inside it and we save it as `xmas_bo_trs`.

<!--  -->

### `pandas`'s `read_html`
That was a good amount of work just to get this simple HTML table into Python. But it was important to cover how table elements moved from a string in `requests`, into a soup object from `BeautifulSoup`. into a list of data, and finally into `pandas`. 

`pandas` also has powerful functionality for reading tables directly from HTML. If we convert the soup of the first table (`xmas_bo_tables[1]`) back into a string, `pandas` can read it directly into a table. 

There are a few ideosyncracies here, the result is a list of dataframes‚Äîeven if there's only a single table/dataframe‚Äîso we need to return the first (and only) element of this list. This is why there's a `[0]` at the end and the `.head()` is just to show the first five rows.

In [ ]:
# type(xmas_bo_table[1])

In [ ]:
#read the string of the first table into pd.read_html
# xmas_bo_table_as_string = str(xmas_bo_table[1])

<!--  -->

The column names got lumped in as rows, but we can fix this as well with the `read_html` function by passing the row index where the column lives. In this case, it is the first row, so we pass `header=0`.

In [ ]:
#just ge the head of the df